.about-us__wrapper {
  padding: 38px 0 29px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.about-us__title {
  margin: 0 0 30px 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
