.about-us {
  background-color: white;
}

.about-us__wrapper {
  padding: 31px 30px 29px 30px;
}

.about-us__title {
  margin: 0 0 82px 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}
