.academy__link {
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  svg {
    fill: $accent-color;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.academy__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-right: 27px;
}
