.academy__link {
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.academy__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-right: 27px;
}
