.academy {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.academy__link {
  color: black;
}

.academy__text {
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  position: relative;
  top: -15px;
  margin-right: 27px;
}
