.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-list__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-top: 53px;
  margin-bottom: 30px;
  position: relative;
  max-width: 250px;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    display: block;
  }

  &--eco::before {
    background-image: url("../img/index-mobile/advantages-list/icon-1.svg");
    width: 33px;
    height: 38px;
    top: -3px;
    left: 8px;
  }

  &--price::before {
    background-image: url("../img/index-mobile/advantages-list/icon-3.svg");
    width: 47px;
    height: 27px;
    top: -1px;
    left: 1px;
  }

  &--like::before {
    background-image: url("../img/index-mobile/advantages-list/icon-5.svg");
    width: 34px;
    height: 27px;
    top: 5px;
    left: 8px;
  }

  &--handmade::before {
    background-image: url("../img/index-mobile/advantages-list/icon-2.svg");
    width: 35px;
    height: 34px;
    top: 3px;
    left: 4px;
  }

  &--support::before {
    background-image: url("../img/index-mobile/advantages-list/icon-4.svg");
    width: 55px;
    height: 23px;
    top: 4px;
    left: -5px;
  }

  &--packaging::before {
    background-image: url("../img/index-mobile/advantages-list/icon-6.svg");
    width: 33px;
    height: 32px;
    top: 3px;
    left: 3px;
  }
}
