.button {
  display: flex;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid #444444;
  box-sizing: border-box;
  text-transform: uppercase;
  color: black;
  width: 260px;
  min-height: 52px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
