.button {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid $special-black;
  box-sizing: border-box;
  text-transform: uppercase;
  color: $special-black;
  min-width: 192px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  padding: 14px;

  &:hover {
    color: $background-color;
    background-color: $special-black;
  }

  &:active .button__text {
    opacity: 0.3;
    background-color: $special-black;
  }

  @media (min-width: $tablet-width) {
    min-width: 175px;
  }

  &--special-padding {
    padding: 13px 10px 15px 10px;
    height: min-content;
  }
}
