.button {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid $special-black;
  box-sizing: border-box;
  text-transform: uppercase;
  color: $special-black;
  width: 260px;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  margin: 0 auto;
  padding: 0;
}

.button__different-font-size {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
