.contacts {
  color: $special-black;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: repeat-x;
    background-image: url("../img/zigzag-line-mobile.svg");
    width: 100vw;
    height: 6px;
    top: -1px;
    background-position: left 50% top;
    background-size: auto 100%;
    left: 0;

    @media (min-width: $tablet-width) {
      background-image: url("../img/zigzag-line-desktop.svg");
      height: 17px;
      top: -42px;
      width: 100vw;
    }

    @media (min-width: $desktop-width) {
      width: 0;
      height: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 457px;
    box-sizing: border-box;
    padding: 0 525px 0 175px;
    margin: 0 auto 26px auto;
    width: 1050px;
  }
}

.contacts__wrapper {
  padding: 44px 0 41px 0;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 44px 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    width: 301px;
    padding: 0;
    margin: 0 0 64px 0;
    box-sizing: border-box;
  }

  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      width: 1050px;
      height: 23px;
      background-image: url("../img/zigzag-line-desktop-real-desktop.svg");
      background-repeat: no-repeat;
      left: -175px;
      top: -173px;
    }
  }
}

.contacts__title {
  margin: 0 0 28px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    position: relative;
    box-sizing: border-box;
    padding-right: 47px;
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 36px 0;
    padding: 0;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-image: url("../img/index/flag.svg");
      right: 3px;
      top: -23px;
      width: 47px;
      height: 81px;
    }

    @media (min-width: $desktop-width) {
      left: -113px;
      top: -16px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.contacts__content {
  margin-bottom: 7px;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__content-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.contacts__table-head {
  width: 76px;
  padding: 0 0 30px 0;
  margin: 0;
  text-align: left;
  font-weight: 400;
  vertical-align: top;
  box-sizing: border-box;
}

.contacts__table-description {
  vertical-align: top;
  padding-bottom: 15px;
}

.contacts__link {
  color: $special-black;
  border-bottom: 1px solid $light-accent-color;

  &:hover {
    color: $super-accent-color;
  }

  &:active {
    border-bottom: 1px solid $rare-accent-color;
  }
}

.contacts__map,
.contacts__container {
  width: 100%;
  height: 454px;
  box-sizing: border-box;
  max-width: 767px;
  margin: 0 auto;
  border: none;

  @media (min-width: $tablet-width) {
    max-width: 1149px;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 527px;
    position: absolute;
    height: 100%;
    right: 0;
    top: -40px;
    margin-bottom: 0;
  }
}

.contacts__button-wrapper {
  padding: 42px 0 39px 0;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 230px;
  }

  @media (min-width: $desktop-width) {
    width: 230px;
    padding: 0;
    margin: 0;
  }
}

.contacts__button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
