.contacts {
  color: $special-black;
}

.contacts__wrapper {
  padding: 44px 0 26px 0;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contacts__title {
  margin: 0 0 28px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.contacts__content {
  margin-bottom: 7px;
  border-collapse: collapse;
}

.contacts__table-head {
  width: 76px;
  padding: 0 0 30px 0;
  margin: 0;
  text-align: left;
  font-weight: 400;
  vertical-align: top;
  box-sizing: border-box;
}

.contacts__table-description {
  vertical-align: top;
  padding-bottom: 30px;
}

.contacts__map,
.contacts__container {
  width: 100%;
  height: 454px;
  box-sizing: border-box;
  max-width: 767px;
  margin: 0 auto;
  border: none;
}

.contacts__button-wrapper {
  padding: 40px 0 39px 0;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contacts__link {
  color: $special-black;
  border-bottom: 1px solid $light-accent-color;
}
