.contacts {
  color: $special-black;
}

.contacts__wrapper {
  padding: 38px 0 39px 0;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contacts__title {
  margin: 0 0 28px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.contacts__content {
  margin-bottom: 7px;
}

.contacts__content-row {
  margin-bottom: 25px;
  display: inline-block;
  box-sizing: border-box;
}

.contacts__table-head {
  width: 76px;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 400;
  vertical-align: top;
}

.contacts__table-description {
  text-align: left;
  max-width: 183px;
}

.contacts__map,
.contacts__container {
  width: 100%;
  height: 464px;
  box-sizing: border-box;
  max-width: 767px;
  margin: 0 auto;
}

.contacts__button-wrapper {
  padding: 42px 0 39px 0;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

.contacts__link {
  color: $special-black;
  border-bottom: 1px solid $light-accent-color;
}
