.featured-product {
  color: $special-black;
}

.featured-product__wrapper {
  padding: 31px 0 36px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
}

.featured-product__name {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;
}

.featured-product__title {
  margin: 4px 0 0 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;
}

.featured-product__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 17px 0 28px 0;
  padding: 0;
}

.featured-product__image {
  margin-top: 28px;
}

.featured-product__price {
  margin: 25px 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
