.featured-product {
  color: $special-black;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: repeat-x;
    background-image: url("../img/zigzag-line-mobile.svg");
    width: 100vw;
    height: 6px;
    left: 0;
    bottom: -7px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/zigzag-line-desktop.svg");
      width: 100vw;
      height: 17px;
      left: 0;
      bottom: -33px;
      background-position: 1px;
    }

    @media (min-width: $desktop-width) {
      width: 0;
      height: 0;
    }
  }
}

.featured-product__wrapper {
  padding: 32px 0 36px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  &::after {
    @media (min-width: $desktop-width) {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-line-desktop-real-desktop.svg");
      background-repeat: no-repeat;
      width: 1050px;
      height: 23px;
      left: 0;
      bottom: -96px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    min-height: 404px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    min-height: 636px;
    display: block;
    padding: 109px 0 0 175px;
  }
}

.featured-product__name {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-right: 128px;
    margin-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }
}

.featured-product__title {
  margin: 0 0 18px 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    line-height: 17px;
    width: 100px;
    text-align: center;
    box-sizing: border-box;
    padding: 5px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    position: absolute;
    left: 32px;
    top: 112px;
  }
}

.featured-product__container {
  @media (min-width: $tablet-width) {
    padding-right: 375px;
    width: 668px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    padding-right: 525px;
    order: 3;
    width: 875px;
  }
}

.featured-product__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 25px 0;
  padding-right: 8px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    width: 292px;
    margin: 0 0 46px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 58px 0;
  }
}

.featured-product__container-image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 11px;
    right: 0;
    width: 334px;
    height: 404px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 48px;
    right: 0;
    width: 525px;
    height: 636px;
  }
}

.featured-product__image {
  margin: 0;
  padding: 0;
  border: none;
}

.featured-product__price {
  margin: 0 0 23px 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 33px 0;
  }

  @media (min-width: $desktop-width) {
    width: 292px;
  }
}

.featured-product__button {
  @media (min-width: $desktop-width) {
    width: 292px;
  }
}

.featured-product__button-text {
  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 20px;
  }
}
