.features {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  display: flex;
}

.features__column-character {
  width: 97px;
}

.features__column-mean {
  width: 162px;
}
