.featured-product {
  color: $special-black;
}

.featured-product__wrapper {
  padding: 32px 0 36px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
    min-height: 404px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    min-height: 636px;
    display: block;
    position: relative;
  }
}

.featured-product__name {
  margin: 0 0 4px 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $black;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.featured-product__title {
  margin: 0 0 18px 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.featured-product__container {
  @media (min-width: $tablet-width) {
    padding-right: 334px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 525px;
    order: 3;
  }
}

.featured-product__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 25px 0;
  padding-right: 8px;
}

.featured-product__container-image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 525px;
    height: 636px;
  }
}

.featured-product__image {
  margin: 0;
  padding: 0;
  border: none;
}

.featured-product__price {
  margin: 0 0 23px 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
