.featured-product {
  background: white;
}

.featured-product__wrapper {
  padding: 31px 30px 36px 30px;
}

.featured-product__name {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.featured-product__title {
  margin: 4px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.featured-product__description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin: 17px 0 28px 0;
  padding: 0;
}

.featured-product__image {
  margin-top: 28px;
}

.featured-product__price {
  margin: 25px 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
