.features {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
}

.features__table-head {
  width: 97px;
  text-align: left;
  font-weight: 400;
}

.features__table-description {
  width: 162px;
}
