.form-order {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form-order__fieldset {
  &--color,
  &--phone,
  &--email {
    @media (min-width: $tablet-width) {
      background-color: $secondary-background-color;
    }
  }
}

.form-order__container {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto 31px auto;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form-order__description {
  width: 260px;
  line-height: 16px;
  margin-bottom: 30px;
  margin-top: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 17px;
    line-height: 30px;
    width: 329px;
    padding: 11px 0 0 27px;
  }
}

.form-order__button-wrapper {
  width: 260px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.form-order__submit-button {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  width: 260px;
  padding: 12px 2px 6px 3px;
  box-sizing: border-box;

  &:focus {
    outline: $dark-accent-color solid 2px;
  }

  @media (min-width: $tablet-width) {
    width: 230px;
  }
}
