.form-order {
  margin: 0 auto;
  max-width: 767px;
}

.form-order__description {
  width: 260px;
  line-height: 16px;
  margin-bottom: 30px;
  margin-top: 0;
}

.form-order__button-wrapper {
  width: 260px;
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
