.header-nav {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: none;

  &--closed {
    display: none;
  }

  &--opened,
  &--nojs {
    display: block;
  }

  &--primary {
    @media (min-width: $tablet-width) {
      order: 2;
      width: 355px;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      height: 0;
      position: absolute;
      left: 0;
      bottom: -22px;
      display: block;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      width: 455px;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      height: auto;
      position: relative;
      bottom: 0;
    }
  }

  &--secondary {
    @media (min-width: $tablet-width) {
      order: 1;
      width: 399px;
      background-color: $background-color;
      display: block;
    }

    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  &--tertiary {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      order: 4;
      width: 316px;
      padding: 0 0 0 50px;
      font-weight: 700;
      font-size: 15px;
      line-height: 24px;
      height: 0;
    }
  }
}

.header-nav__list {
  list-style: none;
  display: flex;
  align-content: center;
  flex-direction: column;
}
