.hero {
  background-color: $special-background-color;
  position: relative;
}

.hero__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 73px 0 0 0;
  min-height: 283px;
  width: 260px;
  box-sizing: border-box;
}

.hero__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(-27%);
  min-width: 312px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  z-index: 1;
}

.hero__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(7%);
}
