.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-position: 50% -17px;
  background-color: $special-background-color;
  background-repeat: no-repeat;
  background-image: url("../img/index-mobile/hero-mobile@2x1.jpg");
}

.hero__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 73px 0 0 0;
  min-height: 283px;
  width: 260px;
  box-sizing: border-box;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
