.hero {
  display: flex;
  justify-content: center;
  background-position: 50% -17px;
  background-color: $special-background-color;
  background-repeat: no-repeat;
  background-image: url("../img/index/hero-mobile.jpg");

  @media (min-width: $tablet-width) {
    border-top: 1px solid $lines-color;
    background-image: url("../img/index/hero-tablet-desktop.jpg");
    background-position: 50% -1px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/index/hero-tablet-desktop@2x.jpg");
    }

    @media (min-resolution: 4dppx) {
      background-image: url("../img/index/hero-tablet-desktop@4x.jpg");
    }
  }
}

.hero__wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 73px 0 0 0;
  min-height: 283px;
  width: 260px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 668px;
    padding: 155px 0 0 0;
    min-height: 626px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.hero__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(7%);
}
