.hero {
  background-image: url("../img/index-mobile/hero-mobile@2x1.jpg");
  padding: 91px 0 120px 0;
}

.hero__wrapper {
  padding: 0 30px 0 30px;
}

.hero__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}
