.manufacturing {
  margin-bottom: 57px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 105px;
  }
}

.manufacturing__wrapper {
  width: 260px;
  margin: 0 auto 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    flex-direction: column;
    position: relative;
    min-height: 455px;
    box-sizing: border-box;
    padding: 0 0 0 683px;
  }

  &:hover {
    box-shadow: 0 6px 10px $shadow;
  }

  &:active {
    box-shadow: 0 3px 5px $shadow;
  }
}

.manufacturing__title {
  margin: 0;
  padding: 21px 13px 27px 91px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid $lines-color;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 100%;
    border-bottom: none;
    font-size: 20px;
    line-height: 24px;
    padding: 40px 46px 0 106px;
  }

  @media (min-width: $desktop-width) {
    width: 367px;
    padding: 96px 56px 0 78px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/catalog/video-icon.svg");
    width: 32px;
    height: 22px;
    top: 34px;
    left: 33px;

    @media (min-width: $tablet-width) {
      top: 38px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: 46px;
      left: 78px;
    }
  }
}

.manufacturing__video-wrapper {
  height: 150px;
  position: relative;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 100%;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.manufacturing__image {
  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
  }
}

.manufacturing__start-video {
  background-image: url("../img/catalog/play.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 77px;

  &:hover {
    width: 121px;
    height: 92px;
    background-size: 121px 92px;
  }

  &:active {
    width: 81px;
    height: 62px;
    background-size: 81px 62px;
    opacity: 0.3;
  }
}

.manufacturing__footer-wrapper {
  border: 1px solid $lines-color;
  border-top: none;
  box-sizing: border-box;
  padding: 33px 31px 32px 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding: 25px 41px 47px 41px;
  }

  @media (min-width: $desktop-width) {
    width: 367px;
    padding: 28px 56px 60px 78px;
  }
}

.manufacturing__description {
  margin: 0 0 41px 0;
  padding: 0;
  color: $special-black;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 53px 0;
  }
}

.manufacturing__button {
  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 16px;
  }
}
