.manufacturing {
  margin-bottom: 57px;
}

.manufacturing__wrapper {
  width: 260px;
  margin: 0 auto 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    flex-direction: column;
    position: relative;
    min-height: 455px;
    box-sizing: border-box;
    padding: 0 0 0 683px;
  }
}

.manufacturing__title {
  margin: 0;
  padding: 21px 13px 27px 91px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: 1px solid $lines-color;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 2;
    width: 100%;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 367px;
    padding: 96px 41px 0 40px;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/catalog-mobile/video-icon.svg");
    width: 32px;
    height: 22px;
    top: 34px;
    left: 33px;
  }
}

.manufacturing__video-wrapper {
  height: 150px;
  position: relative;

  @media (min-width: $tablet-width) {
    order: 1;
    width: 100%;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.manufacturing__start-video {
  background-image: url("../img/catalog-mobile/play.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 77px;
}

.manufacturing__footer-wrapper {
  border: 1px solid $lines-color;
  border-top: none;
  box-sizing: border-box;
  padding: 33px 31px 32px 34px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding: 33px 41px 32px 40px;
  }

  @media (min-width: $desktop-width) {
    width: 367px;
  }
}

.manufacturing__description {
  margin: 0 0 41px 0;
  padding: 0;
}
