.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba($background-color, 0.9);
  color: $black;
  box-sizing: border-box;

  &--open {
    display: flex;
  }
}

.modal__click {
  width: 100vw;
  height: 100vw;
  z-index: 10;
  position: absolute;
}

.modal__wrapper {
  display: flex;
  width: 320px;
  padding: 0 29px 0 31px;
  min-height: 336px;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  background-color: $background-color;
  box-sizing: border-box;
  border: 1px solid $border-modal;
  border-right: none;
  border-left: none;
  z-index: 30;
  overflow: auto;

  @media (min-width: $tablet-width) {
    padding: 0 106px;
    width: 566px;
  }
}

.modal__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
  padding: 28px 10px 0 4px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 30px;
    line-height: 57px;
    padding: 39px 0 0 0;
    text-align: left;
  }
}

.modal__choose-size {
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 22px 0;
  padding: 0 9px 0 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 18px;
  }
}

.modal__fieldset-size {
  border: 0;
  padding: 0;
  display: flex;
  margin: 0 auto 31px auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 2px;
  }
}

.modal__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  box-sizing: border-box;
}

.modal__input-label {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  border: 2px solid rgba($black, 0.1);
  padding: 16px 0 16px 0;
  display: block;
  text-align: center;
  margin: 0 7px 0 0;
  width: 82px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    border: 2px solid rgba($black, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 112px;
  }
}

.modal__input:checked + .modal__input-label {
  border: 2px solid $accent-color;
}

.modal__button {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $background-color;
  font-family: "Open Sans", "Arial", sans-serif;
  display: block;
  background-color: $accent-color;
  text-transform: uppercase;
  border: 0;
  margin: 0;
  padding: 18px 9px 18px 0;
  width: 260px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 352px;
    padding: 18px 0 18px 0;
  }
}
