.order-fieldset__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  &--type {
    margin-bottom: 21px;
  }

  &--color {
    margin-bottom: 3px;
  }

  &--phone::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    background-image: url("../img/form-mobile/phone.svg");
    width: 25px;
    height: 24px;
    top: 31px;
    right: 8px;
  }

  &--email::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    display: block;
    background-image: url("../img/form-mobile/mail.svg");
    width: 32px;
    height: 21px;
    top: 36px;
    right: 3px;
  }
}

.order-fieldset__title {
  color: $accent-color;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0 0 35px 0;
  padding: 0;

  &--margin-fio {
    margin-bottom: 28px;
  }

  &--margin-phone,
  &--margin-email {
    margin-bottom: 14px;
  }

  &--margin-description {
    margin-bottom: 23px;
  }
}

.order-fieldset__list {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.order-fieldset__item,
.order-fieldset__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  padding: 0;

  &--color {
    margin-bottom: 43px;
  }

  &--type {
    margin-bottom: 24px;
  }

  &--fio {
    margin-bottom: 22px;
    display: flex;
    flex-direction: column;
  }

  &--fio:last-child {
    margin-bottom: 35px;
  }

  &--checkbox,
  &--radio-accessory,
  &--radio-toy {
    padding: 0 0 0 61px;
  }

  &--name {
    margin-bottom: 10px;
  }
}

.order-fieldset__radio + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio.svg");
    left: 0;
  }

  &--radio-toy::before {
    top: -11px;
  }

  &--radio-accessory::before {
    top: -5px;
  }
}

.order-fieldset__radio:checked + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio-active.svg");
    left: 0;
  }

  &--radio-toy::before {
    top: -11px;
  }

  &--radio-accessory::before {
    top: -5px;
  }
}

.order-fieldset__radio:not(:disabled):not(:checked) + .order-fieldset__label {
  display: block;
  position: relative;

  &:hover::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio-hover.svg");
    left: 0;
  }

  &--radio-toy::before {
    top: -11px;
  }

  &--radio-accessory::before {
    top: -5px;
  }
}

.order-fieldset__radio:not(:disabled):checked + .order-fieldset__label {
  display: block;
  position: relative;

  &:hover::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio-active-hover.svg");
    left: 0;
  }

  &--radio-toy::before {
    top: -11px;
  }

  &--radio-accessory::before {
    top: -5px;
  }
}

.order-fieldset__radio:not(:disabled):not(:checked) + .order-fieldset__label:active {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio-down.svg");
    left: 0;
  }

  &--radio-toy::before {
    top: -11px;
  }

  &--radio-accessory::before {
    top: -5px;
  }
}

.order-fieldset__radio:not(:disabled):checked + .order-fieldset__label:active {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio-active-down.svg");
    left: 0;
  }

  &--radio-toy::before {
    top: -11px;
  }

  &--radio-accessory::before {
    top: -5px;
  }
}

.order-fieldset__radio:focus + .order-fieldset__label,
.order-fieldset__radio:focus + .order-fieldset__label::before,
.order-fieldset__checkbox:focus + .order-fieldset__label,
.order-fieldset__checkbox:focus + .order-fieldset__label::before {
  outline: $black solid 2px;
}

.order-fieldset__checkbox + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox.svg");
    left: 0;
    top: -9px;
  }
}

.order-fieldset__checkbox:checked + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox-active.svg");
    left: 0;
    top: -9px;
  }
}

.order-fieldset__checkbox:not(:disabled):not(:checked) + .order-fieldset__label {
  display: block;
  position: relative;

  &:hover::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox-hover.svg");
    left: 0;
    top: -9px;
  }
}

.order-fieldset__checkbox:not(:disabled):checked + .order-fieldset__label {
  display: block;
  position: relative;

  &:hover::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox-active-hover.svg");
    left: 0;
    top: -9px;
  }
}

.order-fieldset__checkbox:not(:disabled):not(:checked) + .order-fieldset__label:active {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox-down.svg");
    left: 0;
    top: -9px;
  }
}

.order-fieldset__checkbox:not(:disabled):checked + .order-fieldset__label:active {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox-active-down.svg");
    left: 0;
    top: -9px;
  }
}

.order-fieldset__input-element {
  border: none;
  border-bottom: 2px solid $black;
  outline: none;
  height: 42px;
  box-sizing: border-box;
  padding: 0;

  &--phone {
    padding: 14px 37px 20px 0;
    margin-bottom: 35px;
  }

  &--email {
    padding: 16px 37px 18px 0;
    margin-bottom: 35px;
  }

  &--name {
    padding: 17px 0 17px 0;
  }
}

.order-fieldset__input-element,
.order-fieldset__additional {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.order-fieldset__additional {
  border: 2px solid $black;
  height: 142px;
  box-sizing: border-box;
  padding: 17px;
  resize: none;
  margin-bottom: 17px;
}
