.order-fieldset__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }

  &--color {
    padding-top: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  &--phone,
  &--email {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &--additional {
    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }
  }
}

.order-fieldset__title {
  color: $accent-color;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0 0 24px 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 9px 0 0 0;
    margin: 0 32px 0 0;
    width: 175px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }

  &--margin-fio {
    margin-bottom: 30px;
  }

  &--margin-phone,
  &--margin-email {
    margin-bottom: 14px;
  }

  &--margin-description {
    margin-bottom: 23px;
  }
}

.order-fieldset__list {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 873px;
  }

  &--type {
    margin-bottom: 20px;
  }

  &--color {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.order-fieldset__item {
  box-sizing: border-box;

  &--color {
    margin-bottom: 21px;
  }

  &--type {
    margin-bottom: 3px;
  }

  &--fio {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }

  &--fio:last-child {
    margin-bottom: 35px;
  }
}

.order-fieldset__label {
  box-sizing: border-box;

  &--checkbox,
  &--radio {
    padding: 12px 0 10px 61px;
  }

  &--name {
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 7px;
      margin-right: 25px;
      width: auto;
    }
  }
}

.order-fieldset__radio + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio.svg");
    left: 0;
    top: 50%;
    transform: translateY(-53%);
  }
}

.order-fieldset__radio:checked + .order-fieldset__label {
  &::before {
    background-image: url("../img/form-mobile/radio-active.svg");
  }
}

.order-fieldset__radio:not(:disabled):not(:checked) + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/radio-hover.svg");
  }
}

.order-fieldset__radio:not(:disabled):checked + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/radio-active-hover.svg");
  }
}

.order-fieldset__radio:not(:disabled):not(:checked) + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/radio-down.svg");
  }
}

.order-fieldset__radio:not(:disabled):checked + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/radio-active-down.svg");
  }
}

.order-fieldset__radio:focus + .order-fieldset__label,
.order-fieldset__checkbox:focus + .order-fieldset__label {
  outline: $special-black solid 2px;
}

.order-fieldset__checkbox + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox.svg");
    left: 0;
    top: 1px;
  }
}

.order-fieldset__checkbox:checked + .order-fieldset__label {
  &::before {
    background-image: url("../img/form-mobile/checkbox-active.svg");
  }
}

.order-fieldset__checkbox:not(:disabled):not(:checked) + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/checkbox-hover.svg");
  }
}

.order-fieldset__checkbox:not(:disabled):checked + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/checkbox-active-hover.svg");
  }
}

.order-fieldset__checkbox:not(:disabled):not(:checked) + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/checkbox-down.svg");
  }
}

.order-fieldset__checkbox:not(:disabled):checked + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/checkbox-active-down.svg");
  }
}


.order-fieldset__input-element,
.order-fieldset__additional {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.order-fieldset__input-element {
  border: none;
  border-bottom: 2px solid $black;
  outline: none;
  height: 42px;
  box-sizing: border-box;
  padding: 5px 37px 12px 0;

  &:hover,
  &:focus {
    border-bottom: 2px solid $light-accent-color;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 37px 12px 17px;
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--phone,
  &--email {
    @media (min-width: $tablet-width) {
      background-color: $secondary-background-color;
      width: 501px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }
}

.order-fieldset__icon {
  fill: $black;
  opacity: 0.2;
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: $tablet-width) {
    right: 0;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    right: 0;
    top: 0;
  }
}

.order-fieldset__input-element:hover + .order-fieldset__icon,
.order-fieldset__input-element:focus + .order-fieldset__icon {
  opacity: 1;
  fill: $light-accent-color;
}

.order-fieldset__additional {
  border: 2px solid $black;
  height: 142px;
  box-sizing: border-box;
  padding: 17px;
  resize: none;
  margin-bottom: 17px;

  &:hover,
  &:focus {
    border: 2px solid $light-accent-color;
    outline: $light-accent-color 2px;
  }

  @media (min-width: $tablet-width) {
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
