.order-fieldset__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 200px;
    height: 0;
    border-bottom: 1px solid $light-accent-color;
    left: 60px;
    top: 8px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 668px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }

  &--type {
    margin-bottom: 33px;
    padding: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 56px;
      padding: 40px 0 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 40px 0 0 61px;
      margin-bottom: 54px;
    }
  }

  &--color {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      padding: 54px 0 59px 0;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 54px 0 57px 61px;
    }
  }

  &--fio {
    @media (min-width: $tablet-width) {
      padding: 54px 0 15px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 54px 0 15px 63px;
    }
  }

  &--phone,
  &--email {
    margin-bottom: 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      padding: 52px 0 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 0 0 62px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding: 29px 0 51px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 29px 0 51px 62px;
    }
  }

  &--additional {
    margin-bottom: 17px;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
      padding: 51px 0 0 0;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 0 0 62px;
      margin-bottom: 48px;
    }
  }
}

.order-fieldset__title {
  color: $accent-color;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin: 0 0 24px 0;
  padding: 0 19px 0 0;
  box-sizing: border-box;
  width: max-content;
  position: relative;
  z-index: 1;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    padding: 13px 0 0 0;
    margin: 0;
    width: 168px;
    background-color: inherit;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 113px;
  }

  &--margin-fio {
    margin-bottom: 30px;
  }

  &--margin-phone,
  &--margin-email {
    margin-bottom: 14px;
  }

  &--margin-description {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 19px;
    }
  }
}

.order-fieldset__list {
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 873px;
  }

  &--color {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0 30px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0 0;
      width: 793px;
    }
  }

  &--fio {
    margin-bottom: 35px;
  }
}

.order-fieldset__item {
  box-sizing: border-box;

  &--color {
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
      margin-right: 5px;
    }
  }

  &--color:last-child {
    margin-bottom: 0;
  }

  &--color:nth-last-child(-n+2) {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--color:nth-last-child(-n+3) {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--type {
    margin-bottom: 3px;

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }
  }

  &--type:last-child {
    margin-bottom: 0;
  }

  &--fio {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      margin-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }

  &--fio:last-child {
    margin-bottom: 0;
  }
}

.order-fieldset__label {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
  }

  &--checkbox,
  &--radio {
    padding: 12px 0 10px 61px;
  }

  &--radio {
    @media (min-width: $tablet-width) {
      padding: 12px 0 10px 80px;
    }
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      padding: 13px 0 10px 80px;
    }
  }

  &--name {
    margin-bottom: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 12px;
      margin-right: 25px;
      width: auto;
    }
  }
}

.order-fieldset__radio + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    background-image: url("../img/form-mobile/radio.svg");
    left: 0;
    top: 50%;
    transform: translateY(-53%);

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/radio.svg");
      width: 52px;
      height: 52px;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.order-fieldset__radio:checked + .order-fieldset__label {
  &::before {
    background-image: url("../img/form-mobile/radio-active.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/radio-active.svg");
    }
  }
}

.order-fieldset__radio:not(:disabled):not(:checked) + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/radio-hover.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/radio-hover.svg");
    }
  }
}

.order-fieldset__radio:not(:disabled):checked + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/radio-active-hover.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/radio-active-hover.svg");
    }
  }
}

.order-fieldset__radio:not(:disabled):not(:checked) + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/radio-down.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/radio-down.svg");
    }
  }
}

.order-fieldset__radio:not(:disabled):checked + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/radio-active-down.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/radio-active-down.svg");
    }
  }
}

.order-fieldset__radio:focus + .order-fieldset__label,
.order-fieldset__checkbox:focus + .order-fieldset__label {
  outline: $special-black solid 2px;
}

.order-fieldset__checkbox + .order-fieldset__label {
  display: block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    background-image: url("../img/form-mobile/checkbox.svg");
    left: 0;
    top: 1px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/checkbox.svg");
      width: 52px;
      height: 52px;
      left: -2px;
      top: 50%;
      transform: translateY(-47%);

      @media (min-width: $desktop-width) {
        left: -1px;
        top: 50%;
        transform: translateY(-49%);
      }
    }
  }
}

.order-fieldset__checkbox:checked + .order-fieldset__label {
  &::before {
    background-image: url("../img/form-mobile/checkbox-active.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/checkbox-active.svg");
    }
  }
}

.order-fieldset__checkbox:not(:disabled):not(:checked) + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/checkbox-hover.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/checkbox-hover.svg");
    }
  }
}

.order-fieldset__checkbox:not(:disabled):checked + .order-fieldset__label {
  &:hover::before {
    background-image: url("../img/form-mobile/checkbox-active-hover.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/checkbox-active-hover.svg");
    }
  }
}

.order-fieldset__checkbox:not(:disabled):not(:checked) + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/checkbox-down.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/checkbox-down.svg");
    }
  }
}

.order-fieldset__checkbox:not(:disabled):checked + .order-fieldset__label:active {
  &::before {
    background-image: url("../img/form-mobile/checkbox-active-down.svg");

    @media (min-width: $tablet-width) {
      background-image: url("../img/form-mobile/radio-checkbox-52px/checkbox-active-down.svg");
    }
  }
}


.order-fieldset__input-element,
.order-fieldset__additional {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.order-fieldset__input-element {
  border: none;
  border-bottom: 2px solid $black;
  outline: none;
  height: 42px;
  box-sizing: border-box;
  padding: 5px 37px 12px 0;

  &:hover,
  &:focus {
    border-bottom: 2px solid $light-accent-color;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 37px 12px 17px;
    height: 48px;
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--phone,
  &--email {
    @media (min-width: $tablet-width) {
      background-color: $secondary-background-color;
      width: 501px;
    }

    @media (min-width: $desktop-width) {
      width: 700px;
    }
  }
}

.order-fieldset__icon {
  fill: $black;
  opacity: 0.2;
  position: absolute;
  right: 7px;
  top: 32px;

  @media (min-width: $tablet-width) {
    right: 26px;
    top: 61px;
  }

  @media (min-width: $desktop-width) {
    right: 184px;
    top: 61px;
  }

  &--position {
    right: 3px;
    top: 37px;

    @media (min-width: $tablet-width) {
      right: 22px;
      top: 42px;
    }

    @media (min-width: $desktop-width) {
      right: 179px;
      top: 42px;
    }
  }
}

.order-fieldset__input-element:hover + .order-fieldset__icon,
.order-fieldset__input-element:focus + .order-fieldset__icon {
  opacity: 1;
  fill: $light-accent-color;
}

.order-fieldset__additional {
  border: 2px solid $black;
  height: 142px;
  box-sizing: border-box;
  padding: 17px;
  resize: none;

  &:hover,
  &:focus {
    border: 2px solid $light-accent-color;
    outline: $light-accent-color 2px;
  }

  @media (min-width: $tablet-width) {
    width: 501px;
    padding: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}
