.page-footer {
  background-color: $secondary-background-color;
  max-width: 767px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 1149px;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.page-footer__wrapper {
  padding: 25px 30px 20px 30px;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    justify-content: space-between;
    padding: 51px 0 58px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.page-footer__link {
  &:hover .page-footer__logo-path {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-footer__social {
  margin-bottom: 49px;
}
