.page-header {
  background: white;
}

.page-header__wrapper-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 30px;
}

.page-header__logo {
  display: flex;
  margin-right: 0;
}

.page-header__toggle {
  display: flex;
  position: relative;
  border: none;
  width: 21px;
  height: 20px;
  background: url("../../img/header/menu-close.svg");
  right: -67px;
}
