.page-header__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 768px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
  }
}

.page-header__wrapper-top {
  display: flex;
  margin: 0 auto;
  padding: 22px 23px 22px 58px;
  box-sizing: border-box;
  width: 320px;
  background-color: $background-color;

  @media (min-width: $tablet-width) {
    width: 370px;
    border-right: 1px solid $lines-color;
    padding: 28px 23px 25px 58px;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    width: 295px;
    min-height: 89px;
    margin: 0;
    padding: 0 0 0 0;
  }
}

.page-header__logo {
  display: flex;
  margin: 0 auto;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__toggle {
  border: none;
  width: 35px;
  height: 35px;
  background-image: url("../img/header/menu-close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: 7px 7px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 0 26px;
  width: 259px;
  height: 0;
  box-sizing: border-box;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    order: 3;
    margin-right: 50px;
    z-index: 1;
    height: 0;
    position: absolute;
    right: -2px;
    bottom: -21px;
  }

  @media (min-width: $desktop-width) {
    order: 6;
    height: 0;
  }
}
