.page {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: black;
  background: aquamarine;
}

.page__body {
  max-width: 320px;
}
