.page-footer {
  background-color: $secondary-background-color;
  max-width: 767px;
  margin: 0 auto;
}

.page-footer__wrapper {
  padding: 25px 30px 20px 30px;
  width: 260px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-footer__social {
  margin-bottom: 40px;
}
