.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-header__wrapper-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0;
  width: 260px;
}

.page-header__logo {
  display: flex;
  margin-right: 0;
  transform: translate(10px, 0);
}

.page-header__toggle {
  border: none;
  width: 21px;
  height: 20px;
  background: url("../img/header/menu-close.svg");
  margin: 0;
  padding: 0;
  transform: translateX(77px);
}
