.product {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    min-height: auto;
  }

  &:hover {
    box-shadow: 0 6px 10px $shadow;
  }

  &:active {
    box-shadow: 0 3px 5px $shadow;
  }
}

.product__info {
  margin: 0;
  padding: 25px 28px 0 28px;
  box-sizing: border-box;
  border: 1px solid $lines-color;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 335px;
    padding: 26px 28px 0 34px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    width: 100%;
    padding: 26px 28px 0 27px;
    min-height: 197px;
  }
}

.product__link {
  color: $black;
  margin: 0;
  padding: 0;
  display: block;
  width: 260px;

  &--title {
    margin-bottom: 7px;

    @media (min-width: $tablet-width) {
      margin-bottom: 9px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 5px;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    width: 277px;
  }

  @media (min-width: $desktop-width) {
    width: 251px;
  }

  &--image {
    @media (min-width: $tablet-width) {
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
      min-height: 462px;
    }
  }
}

.product__image {
  background-color: $special-background-color;
  display: block;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.product__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.product__specifications {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin: 0 0 18px 0;
  padding: 0;
  color: $special-black;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin: 0 0 12px 0;
  }
}

.product__footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 11px;
  width: 204px;
  border-top: 1px solid $lines-color;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-right: 5px;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    width: 256px;
  }
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 0 15px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.product__buy {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: -9px;

  svg {
    fill: $black;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateY(-10%);
  }

  &:hover svg {
    fill: $accent-color;
    opacity: 1;
  }

  &:active svg {
    opacity: 0.3;
    fill: $accent-color;
  }
}
