.products__wrapper {
  margin: 0 auto;
  padding-top: 14px;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1051px;
  }
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 51px;
  }
}

.products__item {
  padding: 0;
  margin: 0 0 30px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
