.products__wrapper {
  margin: 0 auto;
  padding-top: 3px;
  width: 260px;
}

.products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products__item {
  padding: 0;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 30px;
  }
}
