.review__description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 33px 0;
  padding: 0;
}

.review__author-name {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.review__author-instagram {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0 0 30px 0;
  display: block;
}
