.reviews__wrapper {
  padding: 0 0 45px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
  }
}

.reviews__title {
  margin: 0 0 14px 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.reviews__slider {
  @media (min-width: $tablet-width) {
    order: 3;
    position: relative;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__controls {
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
}

.reviews__link {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: auto;
  }
}
