.review__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin: 0 0 36px 0;
  padding: 0;
  color: $special-black;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin: 0 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 44px 0;
  }
}

.review__author-name {
  padding: 0;
  margin: 0 0 3px 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.review__author-instagram {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $special-black;
  padding: 0;
  margin: 0 0 29px 0;
  display: block;
  width: 260px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 350px;
  }
}
