.reviews {
  background-color: white;
}

.reviews__wrapper {
  padding: 29px 30px 45px 30px;
}

.reviews__title {
  margin: 0 0 14px 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__controls {
  margin: 0 0 38px 0;
}
