.reviews {
  @media (min-width: $tablet-width) {
    margin-bottom: 157px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 336px;
  }
}

.reviews__wrapper {
  padding: 0 0 45px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 668px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 76px 0 0 0;
    position: relative;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      width: 350px;
      height: 457px;
      background-image: url("../img/index-mobile/review.jpg");
      background-repeat: no-repeat;
      left: -48px;
      top: -3px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      left: 0;
      top: 32px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    padding: 111px 0 0 175px;
  }
}

.reviews__title {
  margin: 0 0 14px 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: 1;
    font-size: 43px;
    line-height: 50px;
    margin: 0 0 39px 0;
    box-sizing: border-box;
    padding: 4px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
    padding: 0;
    margin: 0 0 36px 0;
  }
}

.reviews__slider {
  @media (min-width: $tablet-width) {
    order: 3;
    position: relative;
  }
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__controls {
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 3px;
    right: -1px;
    margin: 0;
  }
}

.reviews__link {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: auto;
  }
}

.reviews__button-text {
  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 20px;
  }
}
