.reviews__wrapper {
  padding: 3px 0 45px 0;
  width: 260px;
  margin: 0 auto;
  box-sizing: border-box;
}

.reviews__title {
  margin: 0 0 14px 0;
  padding: 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reviews__controls {
  margin: 0 0 39px 0;
}
