.site-list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--primary {
    @media (min-width: $tablet-width) {
      padding: 0 0 0 50px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &--secondary {
    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }

  &--tertiary {
    @media (min-width: $desktop-width) {
      position: absolute;
      left: 50px;
      bottom: -44px;
    }
  }
}

.site-list__item {
  border-top: 1px solid $lines-color;
  display: inline-block;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0;
    border: none;
    display: block;
  }

  &--cart {
    border-bottom: 1px solid $lines-color;

    @media (min-width: $tablet-width) {
      padding: 33px 50px 31px 3px;
      border-bottom: none;
    }

    @media (min-width: $desktop-width) {
      padding: 33px 52px 31px 32px;
    }
  }

  &--search {
    @media (min-width: $tablet-width) {
      border-right: 1px solid $lines-color;
      border-left: 1px solid $lines-color;
      padding: 1px 1px 1px 1px;
      margin-right: 29px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }

  &--catalog {
    @media (min-width: $tablet-width) {
      margin-right: 37px;
    }

    @media (min-width: $desktop-width) {
      padding: 11px 35px 31px 50px;
      box-sizing: border-box;
      border-right: 1px solid $lines-color;
      margin-right: 0;
    }
  }

  &--crochet {
    @media (min-width: $desktop-width) {
      padding: 12px 30px 30px 35px;
    }
  }

  &--new {
    @media (min-width: $desktop-width) {
      margin-right: 62px;
    }
  }
}

.site-list__link {
  color: $black;
  position: relative;
  text-align: left;
  max-width: 767px;
  min-width: 320px;
  display: inline-block;
  padding: 27px 10px 27px 76px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    max-width: none;
    min-width: 1px;
    padding: 0;
  }

  &:hover {
    color: $black-hover;
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    position: absolute;
    left: 32px;
    top: 31px;
    fill: $black;
    opacity: 0.2;
  }

  &--search {
    svg {
      @media (min-width: $tablet-width) {
        left: 33px;
        top: 35px;
      }

      @media (min-width: $desktop-width) {
        left: 30px;
      }
    }

    @media (min-width: $tablet-width) {
      margin: 0;
      width: 81px;
      height: 86px;
      display: block;
    }

    @media (min-width: $desktop-width) {
      width: 79px;
    }
  }

  &--search span {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--search:hover svg {
    fill: $accent-color;
    opacity: 1;
  }

  &--cart {
    svg {
      @media (min-width: $tablet-width) {
        left: -1px;
        top: 2px;
      }
    }

    @media (min-width: $tablet-width) {
      padding-left: 50px;
    }
  }

  &--cart:hover svg {
    fill: $accent-color;
    opacity: 1;
  }
}
