.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 28px 0 27px 76px;
}

.site-list__link {
  color: black;
  text-decoration: none;
  position: relative;

  &--search::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/header/search.svg");
    width: 18px;
    height: 18px;
    left: -30px;
    top: 4px;
    display: block;
  }

  &--cart::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../../img/header/cart.svg");
    width: 21px;
    height: 18px;
    left: -30px;
    top: 4px;
    display: block;
  }
}
