.slider__controls {
  border: 1px solid $lines-color;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 260px;
  min-height: 50px;
}

.slider__toggle {
  border: none;
  background-color: $background-color;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 50px;
  flex: none;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;

  &--previous {
    background-image: url("../img/index-mobile/huge-arrow-left.svg");
    border-right: 1px solid $lines-color;
    transform: translate(-2px, 1px);
  }

  &--next {
    background-image: url("../img/index-mobile/huge-arrow-right.svg");
    transform: translate(-2px, 1px);
  }

  &--previous::after {
    content: "";
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../img/index-mobile/divider.svg");
    width: 1px;
    height: 50px;
    top: -12px;
    right: -38px;
  }
}
