.social {
  padding: 0;
  margin-left: 29px;

  @media (max-width: $mobile-width-only) {
    max-width: 150px;
  }

  @media (min-width: $tablet-width) {
    max-width: 300px;
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  margin-right: 27px;
}

.social__link {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &:hover .social__path-icon {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
