.social {
  width: 142px;
  height: 38px;
}

.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 29px;
}
