.social {
  width: 142px;
  height: 38px;
  padding: 0;
  margin-left: 29px;
}

.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.social__item {
  margin-right: 26px;
}

.social__link {
  width: 30px;
  height: 30px;
  display: block;
  box-sizing: border-box;

  &--inst {
    padding: 3px 0 0 0;
  }

  &--facebook {
    padding: 0 0 0 7px;
  }

  &--twitter {
    padding: 4px 0 0 7px;
  }
}
