.title__wrapper {
  box-sizing: border-box;
  max-width: 767px;
  margin: 0 auto;
}

.title__content {
  background-color: $secondary-background-color;
  text-align: center;
  padding: 73px 30px 74px 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 0 17px 0;
}

.title__text {
  width: 260px;
  margin: 0 auto 29px auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
