.title__wrapper {
  box-sizing: border-box;
  max-width: 767px;
  margin: 0 auto 29px auto;
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background-repeat: repeat-x;
      width: 100vw;
      height: 24px;
      left: 0;
      bottom: 114px;
      background-image: url("../img/zigzag-fill-desktop.svg");
      background-position: left 50%  bottom;
      background-size: auto 100%;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/zigzag-fill-title.svg");
      height: 34px;
      bottom: 158px;
    }
  }

  @media (min-width: $tablet-width) {
    max-width: 1149px;
    border-top: 1px solid $lines-color;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }

  &--catalog {
    margin: 0 auto;

    &::after {
      @media (min-width: $tablet-width) {
        bottom: -13px;
      }

      @media (min-width: $desktop-width) {
        bottom: 0;
      }
    }
  }
}

.title__content {
  background-color: $secondary-background-color;
  text-align: center;
  padding: 73px 30px 74px 30px;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    padding: 101px 30px 74px 30px;
    margin: 0 0 67px 0;
  }

  @media (min-width: $desktop-width) {
    font-weight: bold;
    font-size: 53px;
    line-height: 57px;
    padding: 101px 30px 112px 30px;
    margin: 0 0 100px 0;
  }
}

.title__text {
  width: 260px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 668px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 702px;
    margin: 0 auto;
  }
}
