.type-products {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  z-index: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    background-color: $special-background-color;
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background-repeat: repeat-x;
      background-image: url("../img/zigzag-fill-desktop.svg");
      width: 100vw;
      height: 24px;
      left: -8px;
      bottom: -14px;
      background-position: center;
      background-size: auto 100%;
    }

    @media (min-width: $desktop-width) {
      width: 100vw;
      bottom: -18px;
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop-real-desktop.svg");
    }
  }
}

.type-products__wrapper {
  max-width: 767px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 668px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    max-width: 1050px;
  }
}

.type-products__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.type-products__item {
  &:hover {
    @media (min-width: $tablet-width) {
      margin-top: -5px;
    }
  }

  &:active {
    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &--accent-color {
    background-color: $accent-color;
  }

  &--dark-accent-color {
    background-color: $dark-accent-color;
  }
}

.type-products__link {
  display: block;
  margin: 0 auto;
  color: $background-color;
  padding: 24px 30px 31px 31px;
  box-sizing: border-box;
  position: relative;
  width: 320px;

  svg {
    position: absolute;
    opacity: 0.5;
    fill: $dark-green;
  }

  &--interior {
    svg {
      right: 36px;
      top: 22px;

      @media (min-width: $tablet-width) {
        top: 30px;
      }
    }
  }

  &--toy {
    svg {
      right: 27px;
      top: 20px;

      @media (min-width: $tablet-width) {
        top: 32px;
        right: 33px;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 334px;
    padding: 24px 30px 34px 31px;
  }

  @media (min-width: $desktop-width) {
    width: 525px;
  }

  &:hover {
    padding: 24px 30px 36px 31px;
    margin-top: -5px;
  }

  &:hover svg {
    opacity: 0.7;
  }

  &:active {
    padding: 24px 30px 31px 31px;
    margin-top: 0;
  }

  &:active svg {
    opacity: 0.3;
  }

  span {
    display: block;
    width: 260px;
    padding-right: 75px;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 0 6px;
      margin: 0;
    }
  }
}
