.type-products {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

.type-products__wrapper {
  max-width: 767px;
  margin: 0 auto;
}

.type-products__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.type-products__item {
  align-items: center;

  &--accent-color {
    background-color: $accent-color;
  }

  &--dark-accent-color {
    background-color: $dark-accent-color;
  }
}

.type-products__link {
  display: flex;
  justify-content: center;
  color: $background-color;
  padding: 24px 0 31px 30px;
  box-sizing: border-box;

  span {
    display: block;
    width: 260px;
    position: relative;
  }

  span::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    display: block;
    top: 0;
  }

  &--accent-color span::after {
    background-image: url("../img/index-mobile/type-products/interior.svg");
    width: 40px;
    height: 62px;
    left: 200px;
  }

  &--dark-accent-color span::after {
    background-image: url("../img/index-mobile/type-products/toy.svg");
    width: 60px;
    height: 60px;
    left: 190px;
  }
}
