body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $black;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
