@import "visually-hidden.scss";
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/header-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/hero.scss";
@import "blocks/type-products.scss";
@import "blocks/featured-product.scss";
@import "blocks/features.scss";
@import "blocks/button.scss";
@import "blocks/about-us.scss";
@import "blocks/advantages-list.scss";
@import "blocks/reviews.scss";
@import "blocks/slider.scss";
@import "blocks/review.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/academy.scss";
@import "global.scss";
