$background-color: #ffffff;
$special-background-color: #f9f9f9;
$secondary-background-color: #f1f1f1;
$black: #000000;
$black-hover: rgba(0, 0, 0, 0.6);
$special-black: #444444;
$accent-color: #63d1bb;
$dark-accent-color: #56c3b2;
$light-accent-color: #62d1ba;
$super-accent-color: #46c1ae;
$dark-green: #149080;
$rare-accent-color: rgba(70, 193, 174, 0.1);
$lines-color: #ececec;
$header-borders-color: rgba(0, 0, 0, 0.1);
$divider-color: #e5e5e5;
$social-icon: #231f20;
$shadow: rgba(0, 0, 0, 0.1);
$border-modal: #c6c6c6;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
