$background-color: #ffffff;
$special-background-color: #f9f9f9;
$secondary-background-color: #f1f1f1;
$black: #000000;
$special-black: #444444;
$accent-color: #63d1bb;
$dark-accent-color: #56c3b2;
$light-accent-color: #62d1ba;
$lines-color: #ececec;
$header-borders-color: rgba(0, 0, 0, 0.1);
$divider-color: #e5e5e5;
